includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - baseline.neon

parameters:
    level: max
    paths:
        - %rootDir%/../../../src/Akeneo/Pim/Automation/DataQualityInsights/back
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Method .+::normalize\(\) never returns .+ so it can be removed from the return type#'
            reportUnmatched: false
        -
            message: '#Call to function is_array\(\) with array will always evaluate to true#'
            reportUnmatched: false
