includes:
    - baseline.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - %rootDir%/../../../src/Akeneo/Pim/Automation/DataQualityInsights/back
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Method .+::normalize\(\) never returns .+ so it can be removed from the return type#'
            reportUnmatched: false
        -
            message: '#Call to function is_array\(\) with array will always evaluate to true#'
            reportUnmatched: false
        # PHP 8.4: GMP/SimpleXMLElement added to strval/intval/array_unique/implode signatures
        -
            message: '#Parameter \#\d+ \$\w+ of function (strval|intval|array_unique|implode|array_diff|array_intersect) expects#'
            reportUnmatched: false
        # Doctrine DBAL 4: $types parameter now expects ParameterType enum instead of integer constants
        -
            message: '#Parameter \#3 \$types of method Doctrine\\DBAL\\Connection::(executeQuery|executeStatement|fetchAllAssociative|fetchFirstColumn)\(\) expects#'
            reportUnmatched: false
