includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - baseline.neon

parameters:
    level: max
    paths:
        - %rootDir%/../../../src/Akeneo/Pim/Automation/DataQualityInsights/back
    treatPhpDocTypesAsCertain: false
