includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    errorFormat: github
    reportUnmatchedIgnoredErrors: false
    stubFiles:
        - tests/back/phpstan-stubs/firestore.php
    scanFiles:
        - tests/back/phpstan-stubs/firestore.php
    symfony:
        containerXmlPath: %rootDir%/../../../var/cache/dev/KernelDevDebugContainer.xml
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
    excludePaths:
        analyseAndScan:
            - src/Akeneo/Pim/Automation/DataQualityInsights/tests
            - src/Akeneo/Pim/Enrichment/Bundle/Resources/fonts
            - src/Akeneo/Pim/Platform/Job (?)
            - src/Akeneo/Pim/Enrichment/Product/back/Test/Specification
            - src/Akeneo/Pim/Enrichment/Product/back/Test/Acceptance/Specification
            - src/Akeneo/Pim/Enrichment/Category/back/Test/Acceptance/Specification (?)
