parameters:
	ignoreErrors:
		-
			message: '#^Property Akeneo\\Pim\\Enrichment\\Component\\Product\\Model\\AbstractProduct\:\:\$values on left side of \?\? is not nullable nor uninitialized\.$#'
			identifier: nullCoalesce.initializedProperty
			count: 1
			path: src/Akeneo/Pim/Enrichment/Component/Product/Model/AbstractProduct.php

		-
			message: '#^Property Akeneo\\Pim\\Enrichment\\Component\\Product\\Model\\ProductModel\:\:\$values on left side of \?\? is not nullable nor uninitialized\.$#'
			identifier: nullCoalesce.initializedProperty
			count: 1
			path: src/Akeneo/Pim/Enrichment/Component/Product/Model/ProductModel.php

		-
			message: '#^Cannot instantiate class Oro\\Bundle\\SecurityBundle\\Acl\\Extension\\ActionMaskBuilder via protected constructor Oro\\Bundle\\SecurityBundle\\Acl\\Permission\\MaskBuilder\:\:__construct\(\)\.$#'
			identifier: new.protectedConstructor
			count: 2
			path: src/Oro/Bundle/SecurityBundle/Acl/Extension/ActionAclExtension.php
