<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
        >

    <testsuites>
        <testsuite name="ConfigBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
        </exclude>
    </source>
</phpunit>
