includes:
    - baseline.neon

parameters:
    level: max
    paths:
        - %rootDir%/../../../src/Akeneo/Connectivity/Connection/back
    excludePaths:
        - %rootDir%/../../../src/Akeneo/Connectivity/Connection/back/tests/PhpStan

rules:
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\CoverQueryByIntegrationTestRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\FinalControllerRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\InvokableControllerRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixControllerByActionRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixExceptionRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixInterfaceRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixTraitRule
