parameters:
  ignoreErrors:
    # PHPStan 2.x: redundant type checks
    - '#Call to static method Webmozart\\Assert\\Assert::\w+\(\).*will always evaluate to (true|false)#'
    - '#Instanceof between.*will always evaluate to (true|false)#'
    - '#Call to function (is_string|is_array|is_int|is_null|is_bool)\(\).*will always evaluate to (true|false)#'
    - '#PHPDoc tag `@return` has invalid value#'
    - '#return type has no value type specified in iterable type array#'

rules:
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\CoverQueryByIntegrationTestRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\FinalControllerRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\InvokableControllerRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixControllerByActionRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixExceptionRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixInterfaceRule
    - Akeneo\Connectivity\Connection\Tests\PhpStan\Rule\SuffixTraitRule
