includes:
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-webmozart-assert/extension.neon
  - baseline.neon

parameters:
  level: max
  reportUnmatchedIgnoredErrors: false
  paths:
    - %rootDir%/../../../src/Akeneo/Platform/Installer/back/src
  ignoreErrors:
    # PHP 8.4: GMP/SimpleXMLElement added to built-in function signatures
    -
      message: '#Parameter \#\d+ \$\w+ of function (strval|intval|array_unique|implode|array_diff|array_intersect) expects#'
      reportUnmatched: false
