<div class="grid-view-selector">
    <div class="AknColumn-block AknColumn-block--inline">
        <div class="AknColumn-subtitle"><%- __('pim_datagrid.view_selector.view') %></div>
        <div class="AknColumn-subtitle">&nbsp;/&nbsp;</div>
        <div class="AknColumn-value">
            <div class="view-selector-combobox"></div>
        </div>
        <div class="AknColumn-blockDropdown" data-drop-zone="buttons"></div>
    </div>
    <div class="AknColumn-resume" data-drop-zone="resume"></div>
</div>
